body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;

  min-width: 1200px; 
  
}

a {
  text-decoration: none;
}

.main-header{
	background-color: #f2f6f8;
}

h1{
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
	line-height: 23px;
	font-family:"Cuprum", Arial, sans-serif;

	width: 300px;

	margin:0;
	margin-left: 53px;
	margin-top: 53px;
}

.midlle p{
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;
	font-family:"Cuprum", Arial, sans-serif;

}

.list-act a,
.main-header-top p{
	color:#ffffff;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	font-family:"Cuprum", Arial, sans-serif;  
}

.midlle address{
	color: #32425c;
	font-size: 14px;
	font-style:normal;
	line-height: 24px;
}

.footer-top address{
	font-style:normal;
	font-size: 18px;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.user,
.site-navigation,
.range-main,
.tool-main,
.popular-manufacturers-list,
.choose,
.info,
.footer-site-navigation,
.footer-site-navigation-below,
.social,
main ul,
.user-name{
	list-style: none;
}

.user{
	margin: 0;
	padding: 46px 0;
	display: flex;
	margin-left: 8px; 
}

.user li{
	margin-left: 10px;
}

.user a{
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	display: block;

	margin: 0;
	padding: 0;
}

.check-in{
	width: 150px;
	height: 45px;
	margin: 0;
	padding: 0;

	background-color: #ffffff;
}

.check-in a{padding: 12px 25px;

}

.login-lin{
	width: 121px;
	height: 45px;
	margin: 0;
	padding: ;

	background-color: #ffffff;
}	

.login-lin a{
	position: relative;

	padding: 12px 10px 12px 27px;
}

.login-lin a > svg{
	color: #c5c5c5
}

.login-lin a:hover > svg{
	color: #32425c
}

.login-lin a:active > svg{
	color: #c5c5c5
}

/*
.login-lin a::before{
	content: "";

	width: 20px;
	height: 17px; 

	position: absolute;
	top: 13px;
	left: 15px;

	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}*/

.site-navigation a{
	color:#ffffff;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;

}


.range-main a,
.button-popular-goods,
.button-popular-manufacturers,
.request,
.button-details,
.button-map,
.footer-site-navigation a{
	color: #ffffff;
}

.breadcrumbs a,
.nutrition-list a,
.sort-list a,
.active a{
	color: #000000;
}

.footer-site-navigation-below a,
.footer-copyright a{
	color: #ffd180;
}

.user a:hover{
	color: #ee3643;
}

.user a:active{
	color:#c5c5c5; 
}

.footer-site-navigation a:hover,
.footer-site-navigation-below a:hover,
.footer-copyright a:hover,
.footer-copyright a:focus{
	text-decoration:underline;
}

.company h2,
.contacts h2{
	font-size: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 30px;
	text-transform: uppercase; 
	font-weight: 400;
}

.contacts p,
.company p{
	font-size: 13px;
	font-family: "PT Sans", Arial, sans-serif;
	line-height: 24px;
	font-weight: 400;
}

.info li{
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	font-family: "PT Sans", Arial, sans-serif;
}

.main-header{
    max-height: 320px;
    margin: 0;
    margin-bottom: 125px;
	padding:0;
}

.main-header-top{
	background-color: #293449;

	margin: 0;
	padding: 0;
	height: 42px;
}

.footer-top{
	background-color: #32425c;
}

.footer-bottom{
	background-color: #293449;
}

.footer-site-navigation a,
.footer-site-navigation-below a,
.footer-top address,
.footer-top p{
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Arial, sans-serif;
	font-family: 400;
}

.footer-top address,
.footer-top p{
	color:#ffffff;
}

.footer-bottom p,
.footer-copyright p{
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	color:#ffffff;
}

.footer-copyright a{
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
}

.breadcrumbs a{
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	font-family: 400;
	text-transform: uppercase;
}

.word-about{
	background-color: #f2f6f8;
}

.word-about h2{
	font-size: 30px;
}

.word-about p{
	font-size: 13px;
}

.perforators-style h2{
	font-size: 30px;
	color: #32425c;
	line-height: 30px;
	font-weight: 400;
}

.perforators-style h2{
	background-color: #f2f6f8;
}


.visually-hidden:not(:focus):not(:active){
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.left-block h3{
	font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	line-height: 30px;
}

.checkbox,
.nut1,
.nut2{
	font-size: 15px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	line-height: 20px;
}

.right-block h3{
	font-size: 18px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	line-height: 20px;
}

.old{
	font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	line-height: 18px;
	text-decoration:line-through;
	color: #999999;
}

.new-prices{
	top:30px;
}


.new{font-size: 17px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 700;
	line-height: 18px;
	color: #ffffff;
}


ul .button-active1{
	font-size: 14px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	line-height: 18px;
	color: #ffffff;
}

ul .button-active2{
	font-size: 14px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	line-height: 18px;
	color: #32425c;
}

form ul{
	font-size: 15px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	line-height: 20px;
	color: #000000;
}

.nutrition a{
	font-size: 13px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.name a{
	font-size: 21px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	line-height: 21px;
	color: #000000;
}

.orders a,
.cabinet a{
	font-size: 16px;
	font-family: "Cuprum", Arial, sans-serif;
	font-weight: 400;
	line-height: 18px;
	color: #32425c;
	text-decoration:underline;
}

.orders a:hover,
.cabinet a:hover{
	color: #ee3643;
}

.orders a:active,
.cabinet a:active{
	color: #32425c;
	opacity: 0.3;
}

.site-navigation{
	margin: 0;
	padding:0; 

	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.main-navigation{
	width: 100%;
	margin-top: -120px; 

	border-bottom: 5px solid #293449;
}

.header-bottom{
	margin: 0 auto;
	padding:0 10px;
	height: 55px;
	width: 940px;
}

.midlle{
	min-height: 278px;
	margin: 0;
	padding: 0;

    background-color: #f3f7f9;
}

.block-midle{
	width: 940px;
    margin: 0 auto;
    display: flex;
    padding:0 10px;
}

.block-top{
    display: flex;
    margin: 0;
    padding: 0;

    height: 42px;
}

.container-top{
	width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding:0 10px;

    justify-content: space-between;
}

.site-navigation li{
	padding: 0;
	margin: 0;
}

.site-navigation a{
	display: block;

	padding: 19px 31px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
} 

.site-navigation a:active{
   background-color: #1d2739;
   color: #8e939c;
}

.container-footer{
	padding:0 10px;
	width: 940px;
	margin: 0 auto;
	display: flex;
}

.container-footer2{
	padding:0 10px;
	width: 940px;
	margin: 0 auto;
	display: flex;
	min-height: 107px;
}

.footer-top{
	margin: 0;
	padding: 0;
	min-height: 193px;
	background-color: #32425c;
}

.footer-site-navigation-below{
	display: flex;
}

.container-navigation{
	width: 550px;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 50px;
	margin-left: 10px;
	display: flex;
}
.container-address{
	width: 380px;
	margin: 0;
	padding: 0;
}

.footer-bottom{
	margin: 0;
	padding: 0;
	background-color: #293449;
}

.main-footer{
	margin: 0;
	padding: 0;
}

.footer-site-navigation{
	display: flex;
}

.social{
	display: flex;
}
/* main class="container"  */
.union{
	margin-bottom: 85px;
}

.union-narrow{
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

.range{
	width:940px;
	padding: 0;
	margin: 0;
	margin-bottom: 33px; 
}

.range-main{
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	justify-content: space-between;
}

.range-main li{
	flex-basis:300px;
	height: 123px; 
	padding: 0;
}

.range-main1 a,
.range-main2 a,
.range-main3 a,
.range-main4 a,
.range-main5 a{
	display: inline-block;
    width: 135px;
    padding: 10px 0;
    margin: 12px 0 0 24px;

	background: rgba(0,0,0,.1);
	border-radius: 3px;

	font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

.range-main1 a:hover,
.range-main2 a:hover,
.range-main3 a:hover,
.range-main4 a:hover,
.range-main5 a:hover{
	background: rgba(0,0,0,.2);
}

.range-main1 a:active,
.range-main2 a:active,
.range-main3 a:active,
.range-main4 a:active,
.range-main5 a:active{
	background: rgba(0,0,0,.3);
}

.range-main1,
.range-main2,
.range-main3,
.range-main4,
.range-main5{
	position: relative;
}

.range-main1 img,
.range-main2 img,
.range-main3 img,
.range-main4 img,
.range-main5 img{
	position: absolute;
	content: "";
	left: 77%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.range-main1::before{
	position: absolute;
	content: "";
    top: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    z-index: 20;

    background: url(../img/new-flag.png) no-repeat 0 0;
}

.range-main li:nth-child(4){
	height: 266px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.range-main1{
	background-color: #ffbf47;
	margin:0;
}

.range-main2{
   background-color: #3bbce3;
}

.range-main3{
   background-color: #dc91d8;
}

.range-main4{
   background-color: #8ed78f;
  
   height: 123px;
   margin-top: 20px;
}

.range-main5{
   background-color: #ffc047;
   
   height: 123px;
   margin-top: 20px;
}

.range h3{
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	line-height: 30px;
	font-family:"Cuprum", Arial, sans-serif;

	padding: 21px 0 0 23px;
	margin: 0;
}

/*  слайдур */
.slider {
    position: relative;
	text-align: center;
    top: 10px;
    margin: 0;
	width: 620px;
}

.slides .image{
	width: 500%;
	line-height: 0;
}

.overflow{
	width: 100%;
	overflow: hidden;
}

.image img{
	width: 100%;
}

.image{
    display: flex;
}

label, a{
	cursor: pointer;
}

.all{
	margin: 0;
	padding: 0;
	min-height: 266px;
}

.all input{
	position: absolute;
	width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

#switch1:checked ~ .slides .image{
	margin-left: 0;
}

#switch2:checked ~ .slides .image{
	margin-left: -100%;
}

.controls{
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

.active label{
    border: 2px solid #ffffff;
    border-radius: 50%;
	display: inline-block;
	width:6px;
	height:6px;
    margin: 0 5px;

	background: #ffffff;

	position: relative;

	cursor: pointer;
}

.active{
	margin: 10% 0 0;
	text-align: center;
}

#switch1:checked ~ .active label:nth-child(1),
#switch2:checked ~ .active label:nth-child(2){
	background: #ee3643;
	z-index: 20;
}

.slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.controls label:hover{
	opacity: 0.6;
}

.ppp::before{
    content: "";
    position: absolute;
    z-index: 20;
    left: 22px;
    top: 145px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    cursor: pointer;
}

.ppp::after{
    content: "";
    position: absolute;
    z-index: 20;
    top: 162px;
    left: 22px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    cursor: pointer;        
}

.p::before{
    content: "";
    position: absolute;
    z-index: 20;
    left: 575px;
    top: 145px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    cursor: pointer;
}

.p::after{
    content: "";
    position: absolute;
    z-index: 20;
    top: 162px;
    left: 575px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    cursor: pointer;        
}

.image1 {
	position: relative;
}

.qqq{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

	display:inline-block;
	position: absolute;
	content: "";
   
    top: 0px;
    left:35px;
}

.sss{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

	display:inline-block;
	position: absolute;
	content: "";
   
    top: 70px;
    left:35px;
}

.open-button{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  width: 195px;
  position: absolute;
  top: 210px;
  left: 25px;


  display:inline-block;

  padding: 10px 0;

  background-color: #ee3643;
  border-radius: 3px;
}

.open-button:hover{
  background-color: #ca2c37;
}

.open-button:active{
  background-color: #ba2732;
}

.image2 {
	position: relative;
}

.qq{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

	display:inline-block;
	position: absolute;
	content: "";
   
    top: 0px;
    left:35px;
}

.ss{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

	display:inline-block;
	position: absolute;
	content: "";
   
    top: 70px;
    left:35px;
}

.open-button2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  width: 195px;
  position: absolute;
  top: 210px;
  left: 25px;


  display:inline-block;

  padding: 10px 0;

  background-color: #ee3643;
  border-radius: 3px;
}

.open-button2:hover{
  background-color: #ca2c37;
}

.open-button2:active{
  background-color: #ba2732;
}

/* section class="popular-goods" */
.popular-goods{
	margin: 0;
	padding: 0;
}

.popular-goods h2{
	background-color: #f9f5f0;

	font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color:#32425c;

    position: relative;

    padding: 30px 0 28px 28px;
    margin: 0;
    margin-bottom: 20px;
}

.button-popular-goods{
   font-family: "Cuprum","Arial",sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   display: inline-block;

   position: absolute;
   content: "";
   top: 24px;
   left: 663px;
   
   padding: 11px 55px 9px;
   margin: 0;

   background-color: #ee3643;
   border-radius: 4px;
}

.button-popular-goods:hover{
	background-color: #ca2c37
}

.button-popular-goods:active{
	background-color: #ba2732
}

.tool-main{
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tool-main h3{
	min-height: 40px;
    padding: 0 25px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.tool-main span{
	display: block;
}

.tool-main .catalog-item:nth-child(4n) {
  margin-right: 0;
}

/*  class="popular-manufacturers  */

.popular-manufacturers h2{
	background-color: #f9f5f0;

	font-weight: 400;
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    color:#32425c;

    position: relative;

    padding: 30px 0 28px 28px;
    margin: 0;
}

.button-popular-manufacturers{
   font-family: "Cuprum","Arial",sans-serif;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   display: inline-block;

   position: absolute;
   content: "";
   top: 24px;
   left: 663px;
   
   padding: 11px 69px 9px;
   margin: 0;

   background-color: #ee3643;
   border-radius: 4px;
}

.button-popular-manufacturers:hover{
	background-color: #ca2c37
}

.button-popular-manufacturers:active{
	background-color: #ba2732
}

.popular-manufacturers-list{
	padding: 0;
	margin:0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popular-manufacturers-list li{
	width: 218px;
	height: 143px;
	border: 1px solid #eaeaea;

	padding: auto;
	margin-top: 20px;

	text-align:center;

	position: relative;
}

.popular-manufacturers-list img{
	position: absolute;
	content: "";
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
}

.popular-manufacturers-list li:hover{
	box-shadow: 0 0 15px 5px #ccc;
}

.popular-manufacturers-list li:active{
    opacity: 0.3;
}

/*   section class="services"  */
.services{
	background-color: #f4f7f9;
}

.services-column > h2{
	font-family: "Cuprum","Arial",sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
    font-style: normal;
    color: #000000;
    text-transform: uppercase;

    padding: 64px 0 26px;
    margin: 0;
}

.services-column > p{
	font-family: "PT Sans","Arial",sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
    font-style: normal;
    color: #000000;

    padding-bottom: 64px;
    margin: 0;
}

.services-column{
	width: 940px;
    margin: 0 auto;
    padding: 0;
}
/*  слайдер  */
.slider-services{
  position: relative;
  width: 940px;
  height: 289px;
  margin: 0 auto;
}

.slides-services .block-image{
  width: 100%;
  line-height: 0;
}

.slides-services{
  margin: 0 0 0 280px;
  padding: 0 0 0 0;
}

.overflow-slider{
  width: 100%;
  height: 289px;
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.whole-slide input{ 
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

#switch-radio1:checked ~ .slides-services .block-image{
  margin-top: 0;
}

#switch-radio2:checked ~ .slides-services .block-image{
  margin-top: -47%;
}

#switch-radio3:checked ~ .slides-services .block-image{
  margin-top: -94%;
}

.active-switch label{ /*стиль отдельного переключателя*/
  display:block;
  width:218px;
  margin: 0;
  padding: 13px 0 16px 22px;

  background: #32425c;
  color: #ffffff;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;

  cursor: pointer;

  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum","Arial",sans-serif;
}

#switch-radio1:hover ~ .active-switch label:nth-child(1),
#switch-radio2:hover ~ .active-switch label:nth-child(2),
#switch-radio3:hover ~ .active-switch label:nth-child(3){
  background-color: #293449;
}

#switch-radio1:checked ~ .active-switch label:nth-child(1),
#switch-radio2:checked ~ .active-switch label:nth-child(2),
#switch-radio3:checked ~ .active-switch label:nth-child(3){
  background: #ffffff;
  color: #32425c;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.active-switch{
  position: absolute;
  content: "";
  top:4px;

  margin: 0;
}

.active-switch::before{
  content: "";
  position: absolute;
  top: -50px;
  left: 230px;
  width: 10px;
  height: 279px;

  background-image: url(../img/Layer118.png);
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.25;
}

.block-image1{
  height: 287px;
  margin-top: -27px;
  margin-left: 43px;

  background-image: url(../img/Layer131.png);
  background-position: 100% 80%;
  background-repeat: no-repeat;
}

.block-image1 p{
  width: 300px;
}

.block-image1 .delivery-paragraph{
  width: 200px;
}

.block-image2{
  height: 284px;
  margin-top: -31px;
  margin-left: 43px;

  background-image: url(../img/Layer130.png);
  background-position: 101% 10%;
  background-repeat: no-repeat;
}

.block-image2 p{
  width: 380px;
}

.block-image3{
  height: 284px;
  margin-top: -4px;
  margin-left: 43px;

  background-image: url(../img/Layer119.png);
  background-position: 100% 10%;
  background-repeat: no-repeat;
}

.block-image3 a{
  display: block;
  width: 107px;    
  margin: 27px 0 0 0;
  padding: 10px 44px;
    
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  font-family: "Cuprum","Arial",sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
    
  background: #ee3642;
  border-radius: 5px;
}

.block-image3 a:hover{
  background-color: #ca2c37
}

.block-image3 a:active{
  background-color: #ba2732
}

.block-image h2{
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #32425c;
  text-transform: uppercase;

  padding: 0;
  margin: 30px 0 30px;
}

.block-image p{
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans","Arial",sans-serif;
  color: #000000;

  margin: 0;
}
/*  container-ce  */

.container-ce{
	padding:0 10px;
	width: 940px;
	min-height: 536px;
	margin: 0 auto;
	
	display: flex;
}

.company{
	width: 540px;
	margin-top: 55px;
}

.company p{
	font-size: 13px;
	font-family: "PT Sans","Arial",sans-serif;
	font-weight: 400;
}

.paragraph{
	margin-bottom: 25px;
}

.info li{
	font-family: "Cuprum","Arial",sans-serif;
    font-size: 18px;
    line-height: 40px;

	position: relative;	
}

.info li::before{ 
	content: '';

	position: absolute;
	left: -36px;
    top: 19px;

	width: 25px;
    height: 2px;

    background: #fb565a;
}

.info li:nth-child(3n){
	margin-bottom: 17px;
}

.button-details{
	padding: 12px 40px 10px;

	background-color: #ee3643;
	border-radius: 4px;

	display: inline-block;
}

.contacts{
	width: 300px;
	margin-top: 55px;
	margin-left: 100px;
}

.contacts p{
	margin-bottom: 32px;
}

.map{
	display: block;

	margin-bottom: 33px; 
}

.button-map{
	padding: 13px 58px 8px 64px;

	background-color: #ee3643;
	border-radius: 4px;

	display: block;
}

.company a,
.contacts a{
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
}



/*   каталог  */
.breadcrumbs{
	display: flex;

	padding: 0;
	margin: 80px 0 25px 0;
}

.breadcrumbs li{
	position: relative;
}

.breadcrumbs li:first-child::after{
	content: "";

	position: absolute;
	top:3px;
	left:28px;

	width: 16px;
    height: 20px;

	background: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(2)::after{
	content: "";

	position: absolute;
	top:3px;
	left:65px;

	width: 16px;
    height: 20px;

	background: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(2){
	margin-left: 15px;
}

.breadcrumbs li:nth-child(3)::after{
	content: "";

	position: absolute;
	top:3px;
	left:105px;

	width: 16px;
    height: 20px;

	background: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li{
	margin-right: 38px;
}

.perforators-style{
	margin:0;
	padding:0;
}

.perforators-style h2{
	margin:0;
	padding: 30px 0 29px 30px;
	padding-left: 30px;
	margin-bottom: 20px;
}

.container-main{
	padding:0 10px;
	width: 940px;
	margin: 0 auto;
}

.right-block{
	display: flex;
	flex-wrap: wrap;
	
	width: 700px;
	
	padding: 0;
    margin: 0;
    margin-left: 20px; 
}

.sort{
    display: flex;

	font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;

    margin:0;
	padding: 10px 0 10px 0;
	width: 100%;
	background-color: #f7f3ec;
	border-radius: 5px;
}

.sort span{
	display:inline-block;
	margin:0;
	margin-left: 19px;
	padding: 0;
}

.sort-list{
	width: 460px;
	display: flex;

	margin:0;
	padding: 0;
	margin-left: 140px;
}

li .by-price{
	color: #ee3643;

	margin-right: 70px;
}

.sort-list a:hover{
	color:#000000;
    opacity: 1;
    border-bottom: 1px solid #ee3643;
}

li .type{
	opacity: 0.3;

	border-bottom: 1px dotted #ee3643;

	margin-right: 65px;
}

li .functionad{
	opacity: 0.3;
	
	border-bottom: 1px dotted #ee3643;

	margin-right: 45px;
}

.up{
	display: inline-block;
	width: 0px;
	height: 0px;
	margin-right: 20px;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 9px solid #ee3643;
}

.down{
	display: inline-block;
	width: 0px;
	height: 0px;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 9px solid #c5c5c5;
}

li .up:hover{
   display: inline-block;
	width: 0px;
	height: 0px;
	margin-right: 20px;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 9px solid #000000;
}

li .down:hover{
	display: inline-block;
	width: 0px;
	height: 0px;

	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 9px solid #000000;
    border-bottom:none;
}


.switch-list{
	display: flex;

	font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font-family: "PT Sans","Arial",sans-serif;
    text-transform: uppercase;
    color: #000000;

    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.switch-list li{
	margin: 0;
	margin-right: 10px;
	padding: 0;
}



.buttons{
	border:1px solid #e5e5e5;
	border-radius: 3px;
	color:#000000;

	padding: 10px 15px 10px 15px;
}

.next:hover,
.buttons:hover{
	border:1px solid #bdc6ca;
	}

.next:active,
.buttons:active{
	border:1px solid #ee3643;
	}

.buttons1{
	color:#ffffff;
	background-color: #ee3643;
}

.next{
	border:1px solid #e5e5e5;
	border-radius: 3px;
	color:#000000;

	padding: 10px 31px 10px 31px;
}

.left-block{
	display: flex;
	padding: 0;
	margin: 0;

	width: 220px;
}

.left-block ul{
	margin: 0;
	padding: 0;
}

.left-block li{
    margin-bottom: 20px;
    padding-left: 35px;
}

.left-block label{
	position: relative;

	display: block;

	cursor: pointer;
    user-select: none;
}

.manufacturers{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.show{
	display: block;
	width: 140px;
	padding: 11px 0 9px 0;
	margin: 0;
	margin-top: 75px;
	

	text-align: center;

	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.show:hover{
	border: 1px solid #bdc6ca;
}

.show:active{
	border: 1px solid #ee3643;
}

.filter{
    font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

	display: block;

	background-color: #f7f3ec;
	border-radius: 5px;

	padding: 10px 0 10px 19px;
	margin: 0;
	margin-bottom: 18px;
}

.price{
	font-size: 17px;
    line-height: 30px;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}

.filter-slider{
	width:220px;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;

	font-weight: 400;
    font-style: normal;
    font-family: "PT Sans","Arial",sans-serif;
    color: #000000;
}

.line{
	border: 1px solid #e5e5e5;
	border-bottom-style:none;

    padding: 0;
    margin: 0;
	margin-bottom: 17px;
}

.price-controls{
  
}

.price-controls label {
  display: inline-block;
  }

.price-controls input {
  width: 95px;
  height: 38px;
  margin: 0;

  text-align: center; 

  background-color: #f7f3ec;
  border-radius: 5px;
  border: none;
}

.max-price{
	margin-left: 25px;
}

.min-price:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 1px;
	top:19px;
	right: -19px;

	background-color: #444444;
}

.scale{
	width: 170px;
	height: 2px;

	background-color: #d7dcde;

	padding: 0;
	margin: 0;
	margin-left:28px; 
}

.toggle-min{
	position: absolute;
	content: "";
    top: 30px;
    left: 20px;
}

.toggle-max{
	position: absolute;
	content: "";
	top: 30px;
	left: 160px;

}

.bar{
	width: 85%;
    height: 2px;
    padding:0;
	margin: 0;

    background-color: #00ca74;
}

.container-toggle{
    position: relative;

	width: 220px;

	background-color: #f7f3ec;
	border-radius: 0 0 5px 5px;

	padding:39px 0;
	margin: 0;
	margin-bottom: 10px;
}

.toggle {
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1);
  cursor: pointer;
}

.check-input{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
    clip: rect(0 0 0 0);
}



.check-box{
	position: absolute;
	margin-top: -1px;
	margin-left: -35px;
	width: 23px;
	height: 23px;

	background: url(../img/checkbox-off.svg) no-repeat;

    opacity:0.79; 
}

.check-box:hover{
   opacity:1;
}

.check-box:disabled{
   opacity:0.3;
}

.check-input:checked + .check-box{
   background-image: url(../img/checkbox-on.svg);
   width: 27px;
   height: 23px;

   opacity:0.79;
}

.check-input:disabled + .check-box{
	opacity:0.3;
}

.check-input:checked:hover + .check-box{
   opacity:1;
}

.filter-input{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-box{
	position: absolute;
	left: -35px;
    top: -2px;
    width: 25px;
    height: 25px;

    background: url(../img/radio-off.svg) no-repeat;

    opacity:0.79;
}

.radio-box:hover{
   opacity:1;
}

.radio-box:disabled{
   opacity:0.3;
}

.filter-input:checked + .radio-box{
	background-image: url(../img/radio-on.svg);
    width: 25px;
    height: 25px;

    opacity:0.79;
}

.filter-input:checked:hover + .radio-box{
	opacity:1;
}

.filter-input:disabled + .radio-box{
	opacity:0.3;
}

.tool{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	padding: 0;
    margin: 20px auto;
    margin-bottom: 40px;

    width: 700px;
}

.catalog-item{
	position: relative;
    display: inline-block;
	width: 218px;
	margin-bottom: 20px;
    margin-right: 20px;

    text-align: center;

    border: 1px solid #eaeaea;

}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
	position: absolute;
	top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.buy,
.bookmark{
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;

	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;

	color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.buy{
	position: relative;
}

.buy::before{
	position: absolute;
	content: "";
	width: 15px;
    height: 15px;
    top: 7px;
    left: 13px;

	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;

}

.buy:focus::before,
.buy:hover::before{
	opacity: 1;
}

.buy:hover{
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
}

.buy:active{
	background-color: #518534;
	border: 3px solid #518534;
	border-bottom-color: #518534;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover{
	box-shadow: 0 0 15px 5px #ccc;
}

.bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.bookmark:hover{
	border:3px solid #32425c;
}

.bookmark:active{
	border:3px solid #32425c;
	opacity: 0.3;
}

.tool span{
	display: block;
}

.tool h3{
  min-height: 40px;
  padding: 0 25px;
  margin-top: 0;
  margin-bottom: 15px;
}

.old{
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.new{
	position: relative;
	width: 80px;
	margin: 10px auto;
    padding: 11px 30px;

	background: #ee3643;
	border-radius: 3px;
	margin-bottom: 20px;
}

.new::after{
	content: "";

	position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

.new:hover{

}

.left-right-block{
	display: flex;
}

.tool .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.buttons-list{
	display: flex; 
}

.container-word-about{
	padding:0 10px;
	width: 940px;
	margin: 0 auto;	
}

.word-about{
	background-color: #f2f6f8;
	padding: 40px 0 70px;
	margin: 0;
}

.container-word-about p{
	padding: 0;
	margin: 0;

	font-size: 13px;
    font-family: "PT Sans","Arial",sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
}

.container-word-about h2{
	margin-bottom: 25px;

	text-transform: uppercase;
    font-size: 30px;
    font-family: "Cuprum","Arial",sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
}

.container{
	padding: 0;
	margin: 0;
}

.breadcrumbs-main{
	padding: 0;
	margin: 0;
}

.block{
	padding: 0;
	margin: 0;
}

.button-map:hover,
.button-details:hover{
	background-color: #ca2c37
}

.button-map:active,
.button-details:active{
	background-color: #ba2732
}
/*  7 лекция   */

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo{
	display: block;

	width: 220px;
	height: 46px;
	margin: 0;
	padding: 0;

	background-color: #ee3643;
	border-bottom: 5px solid #b52933;

}

.main-header-logo:hover{
	background-color: #ca2c37;
}

.main-header-logo:active{
	background-color:#ba2732;
}

.main-header-logo img{
	padding: 18px 55px 11px 55px;
	margin: 0;
}

.list-act{
	display: flex;
	margin: 0;
	padding: 0;
}

.order{
	background-color: #63a63e;
	
	width: 130px;
	padding: 12px 0 12px 20px;
    margin: 0;
}

.order:hover{
	background-color: #5fbb2d;
}

.order:active{
	background-color: #518534;
	color: #9dba8c;
}

.basket{
	position: relative;

	padding: 12px 0 12px 55px; 
	margin: 0;
    width: 100px;

}

.basket::before{
	content: "";

	width: 15px;
	height: 15px; 

	position: absolute;
	top: 10px;
	left: 15px;

	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3; 

}

.basket:hover::before{
	opacity: 1;
}

.basket:active::before{
	opacity: 0.5;
}

.basket:hover{
	background-color: #212a3a;
}

.bookmarks{
	padding: 12px 0 12px 41px;
	margin: 0;
	width: 105px;

	position: relative;
}

.bookmarks::before{
	content: "";

	width: 14px;
	height: 16px; 

	position: absolute;
	top: 12px;
	left: 17px;

	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.bookmarks:hover::before{
	opacity: 1;
}

.bookmarks:active::before{
	opacity: 0.5;
}

input[type="search"]:hover,
input[type="search"]:focus,
.bookmarks:hover{
	background-color: #212a3a;
}

input[type="search"]:hover + .search-leb{
	opacity: 1;
}

.basket:active,
.bookmarks:active{
	background-color: #161d29;
	color:#999ca1;
}

input[type="search"]:active,
input[type="search"]:focus{
	background-color: #ffffff;
}

.container-top p{
	margin: 0;
	padding: 0;
}

.container-top{
	
}

.search form{
	display: block;
}


.search{
	position: relative;
    max-width: 270px;
    margin: 0;
    padding: 0;
}

.search-leb svg{
	color: #ffffff;
	opacity: 0.3;
}

 input[type="search"]:hover + .search-leb svg{
	opacity: 1;
}

input[type="search"]:focus + .search-leb svg,
input[type="search"]:active + .search-leb svg{
	color: #ee3643;
	opacity: 1;
}

input[type="search"]{
	width: 267px;
	padding: 30px 0 11px 49px;

	cursor: pointer;

	color: #ffffff;

	background-color: #293449;

	border: none;
}

/*
.search-leb{
	content: "";

	position: absolute;
	top: 12px;
	left: 17px;

	width: 17px;
	height: 17px;

	background-image: url("../img/icon-search.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}*/

.telephone{
	position: relative;

	width: 264px;
	height: 39px;

	border: 3px solid #ffffff
}

.telephone p::before{
	content: "";

	position: absolute;
	top: 10px;
	left: 13px;

	width: 21px;
	height: 21px;

	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}


.telephone p{
	margin: 8px 42px 9px 71px;
}

.data{
	width: 270px;
	margin: 46px 50px 4px 22px;
}

.data address{
	margin-left: 10px;
	margin-top: 5px;
}

.user-name{
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    padding: 0;
    margin: 0;
    margin-top: 47px;	
}

.user-name li{
	padding: 0;
	margin: 0;
}

.name{
	width: 300px;
	min-height: 45px;
	padding: 0;
	margin: 0;
}

.name a{
	position: relative;

    display: block;

    padding: 12px 21px 11px 27px;
	margin: 0;

	background:#ffffff;
	background-repeat: repeat;	
}


/*
.name a::before{
	position: absolute;
	content: "";
	top:13px;
	left:13px;

	width: 20px;
    height: 20px;

	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}*/

.name svg{
	color: #c5c5c5;
}

.name a:hover > svg{
	color: #32425c;
}

.name a:active > svg{
	color: #c5c5c5;
}

.name a:active{
	color: #c5c5c5;
}




/*
.name a::after{
	position: absolute;
	content: "";
	top:13px;
	left:270px;

	width: 20px;
    height: 20px;

	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}*/

.basket-active{
	background-color: #ee3643;
}

.orders a{
	position: relative;
	
    padding-left: 19px;
}

.orders a::after{
	content: "";

	position: absolute;
	top: 7px;
    right: -19px;

	width: 5px;
	height: 5px;

	background-color: #32425c;
	background-position: 0 0;
	border-radius: 50px;
}

.cabinet a{
	padding-left: 32px;
}

/*  footer  */
.logo-bottom{
	display: block;

	width: 220px;
	height: 63px;
	margin: 0;
	padding: 0;
	margin-bottom: 31px;

	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.logo-bottom:hover{
	background-color: #ca2c37;
}

.logo-bottom:active{
	background-color: #ba2732;
}

.logo-bottom img{
	padding: 20px 41px 15px;
}

.container-address p{
	margin: 0;
	padding: 0;
}

.container-navigation li{
	margin-left: 60px;
}

.container-navigation{
	margin-top: 20px;
}

.container-navigation a:active{
	text-decoration: none;
	opacity: 0.5;
}

.container-footer2 p{
	display: block;

	width: 230px;

	margin-top: 37px;
}

.footer-social{
	display: flex;
	justify-content: flex-end;

	width: 310px;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;

  border-radius: 20px;

  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus{
	background-color: #ee3643;
}

.social{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 132px;
    margin: 35px 19px 31px 16px;
}

.footer-copyright{
	display: flex;
	justify-content: flex-start;

	width: 300px;
	margin: 36px 0 0 100px;
    padding: 0;
}

.footer-copyright2{
   margin: 0;
   padding: 0;
   width: 140px;
   margin-left: 54px;
}

.footer-copyright1{
   margin: 0;
   padding: 0;
   width:140px;
}

.footer-copyright p{
   margin: 0;
   padding: 0;
}

.footer-copyright a:active{
	color: #ee3643;
	text-decoration: none;
}

/*  всплывающее окно в каталоге   */
.to-order-popup{
	position: fixed;
	z-index: 10;
	top: 10%;
    left: 50%;

    transform:translateX(-50%); 

	display: none;
	width: 620px;
	background: #ffffff;
	border-top: 7px solid #ee3643;

	box-shadow: 0 10px 50px #000000;
}

.text-product{
	display: block;
    padding: 50px 125px 65px 179px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
}

.text-product::before{
	content: "";
	position: absolute;
	width: 66px;
	height: 66px;
	top:48px;
	left: 81px;

	background-color: #63a63e;
	border-radius: 50%;
}

.text-product::after{
	content: "";
	position: absolute;
	top:64px;
	left: 107px;
    
	width: 12px;
	height: 25px;

	border: 7px solid #ffffff;
	border-top-style: none;
    border-left-style: none;
    transform: rotate(45deg);

}

.to-order-popup-closed{
	margin: 0;
	padding: 0;

	border:none;

	cursor: pointer;
}

.to-order-popup-closed::before{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 588px;

    background-color: #ee3643;

    transform: rotate(45deg);
}

.to-order-popup-closed::after{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 588px;

    background-color: #ee3643;

    transform: rotate(-45deg);
}

.wrapper{
	background: #f1f1f1;

	font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;
    text-align: center;

    padding: 37px 0;
}

.offspring{
	display: inline-block;

	color:#ffffff;

	background-color: #ee3643;
	border-radius: 3px;

	padding: 10px 62px 10px 59px;
	margin: 0;
	margin-right: 20px;
}

.purchases{
	display: inline-block;

	color:#000000;

	background-color: #ffffff;
	border-radius: 3px;

	padding: 10px 48px 10px 44px;
	margin: 0;

    font-weight: 700;
}

/*  всплывающее окно на главной,форма  */
.forms-popup{
	position: fixed;
	z-index: 10;
	top: 10%;
    left: 50%;

    transform:translateX(-50%);
    
    display: none;
    width: 620px;
    background: #ffffff;
	border-top: 7px solid #ee3643;

	box-shadow: 0 10px 50px #000000;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
    font-family: "Cuprum","Arial",sans-serif;
}

.forms-popup label{
	margin: 0;
	padding: 0;
}

.closed{
	margin: 0;
	padding: 0;

	border:none;

	cursor: pointer;
}

.closed::before{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 588px;

    background-color: #ee3643;

    transform: rotate(45deg);
}

.closed::after{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 588px;

    background-color: #ee3643;

    transform: rotate(-45deg);
}

.popup{
	margin: 30px 80px 0;
	padding: 0;
}

.popup span{
	display: inline-block;
    margin: 0 0 9px;
}

.popup textarea{
	font-size: 13px;
	line-height: 18px;
    font-weight: 400;
    font-family: "PT Sans","Arial",sans-serif;
    color:#a9a9a9;

    width: 440px;
    padding: 5px 0 0 12px;
    margin-bottom: 27px;

    border: 3px solid #dee3e4;
    border-radius: 3px;
}

.forms-popup input[type=text]{
   width: 200px;
   padding-left: 14px;
   margin: 0;
   padding: 8px 2px 10px 8px;

   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   font-family: "PT Sans","Arial",sans-serif;
   color:#a9a9a9;
   
   border: none;
   border: 2px solid #dee3e4;
   border-radius: 3px;

   display: inline-block; 
}

.left-forms,
.right-forms{
	display: inline-block;
	margin: 0;
	margin-bottom: 18px;
	padding: 0;
}

.right-forms{
	margin-left: 10px;
}

.to-send{
	font-size: 14px;
	line-height: 18px;
    font-weight: 400;
    font-family: "Cuprum","Arial",sans-serif;
    text-transform: uppercase;

    width: 460px;
    padding: 11px 0 9px;
    margin: 0 80px 0 80px;

	border:none;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 3px;
}

.wrapper-button{
	background-color: #f4f4f4;
 
	padding: 37px 0 37px 0;
	margin: 0;
}

.to-send:hover{
	background-color:#ca2c37; 
}

.to-send:active{
	background-color:#ba2732; 
}

/* всплывающее окно на главной,карта*/
.popup-map{
	position: fixed;
	z-index: 9;
	top: 10%;
    left: 50%;
    width: 940px;
    height: 448px;

    font-size: 0;

    transform:translateX(-50%);

	display: none;

    box-shadow: 0 10px 50px #000000;
}

.popup-map-closed{
	margin: 0;
	padding: 0;

	border:none;

	cursor: pointer;

	font-size: 0;
}

.popup-map-closed::before{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 910px;

    background-color: #ee3643;

    transform: rotate(45deg);
}

.popup-map-closed::after{
	position: absolute;
	content: "";
    width:27px; 
    height:4px;
    top:16px;
    left: 910px;

    background-color: #ee3643;

    transform: rotate(-45deg);
}